@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'IRANSansXBlack';
  src: url('../public/fonts/IRANSansXBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'IRANSansXExtraBold';
  src: url('../public/fonts/IRANSansXExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'IRANSansXBold';
  src: url('../public/fonts/IRANSansXBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'IRANSansXDemiBold';
  src: url('../public/fonts/IRANSansXDemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'IRANSansXMedium';
  src: url('../public/fonts/IRANSansXMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'IRANSansXRegular';
  src: url('../public/fonts/IRANSansXRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'IRANSansXLight';
  src: url('../public/fonts/IRANSansXLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'IRANSansXUltraLight';
  src: url('../public/fonts/IRANSansXUltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}





  
  @font-face {
    font-family: 'IRANSansXThin';
    src: url('../public/fonts/IRANSansXThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
/* Default stroke for light theme */
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000000; /* Default stroke for light theme */
  stroke-width: 3.5;
  stroke-linecap: round;
}

/* Dark theme */
.dark .line {
  stroke: #ffffff; /* Stroke for dark theme */
}
  
.ham1 .top {
  stroke-dasharray: 40 139;
}
.ham1 .bottom {
  stroke-dasharray: 40 180;
}
.ham1.active .top {
  stroke-dashoffset: -98px;
}
.ham1.active .bottom {
  stroke-dashoffset: -138px;
}
@layer utilities {
  /* Light mode styles */
  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  ::-webkit-scrollbar-track {
    background: #f0f0f0;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #a1a1aa; /* Light mode thumb color */
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #71717a; /* Light mode hover color */
  }
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar {
      width: 12px; /* Width of the scrollbar */
  }

  ::-webkit-scrollbar-thumb {
      background-color: #ffffff; /* Dark mode thumb color */
      border-radius: 10px; /* Optional: Round the corners of the thumb */
  }

  ::-webkit-scrollbar-track {
      background-color: #ffffff; /* Dark mode track color */
  }
}
@keyframes progress {
  0% { width: 0; }
  100% { width: 100%; }
}

.animate-progress {
  animation: progress 2s linear infinite;
}
@keyframes wave {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-wave {
  animation: wave 1s ease-in-out infinite;
}

.animation-delay-200 {
  animation-delay: 0.2s;
}

.animation-delay-400 {
  animation-delay: 0.4s;
}