@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'IRANSansXBlack';
  src: url('/fonts/IRANSansXBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IRANSansXExtraBold';
  src: url('/fonts/IRANSansXExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IRANSansXBold';
  src: url('/fonts/IRANSansXBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IRANSansXDemiBold';
  src: url('/fonts/IRANSansXDemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IRANSansXMedium';
  src: url('/fonts/IRANSansXMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IRANSansXRegular';
  src: url('/fonts/IRANSansXRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IRANSansXLight';
  src: url('/fonts/IRANSansXLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IRANSansXUltraLight';
  src: url('/fonts/IRANSansXUltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IRANSansXThin';
  src: url('/fonts/IRANSansXThin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
/* Default stroke for light theme */
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000000; /* Default stroke for light theme */
  stroke-width: 3.5;
  stroke-linecap: round;
}

/* Dark theme */
.dark .line {
  stroke: #ffffff; /* Stroke for dark theme */
}
  
.ham1 .top {
  stroke-dasharray: 40 139;
}
.ham1 .bottom {
  stroke-dasharray: 40 180;
}
.ham1.active .top {
  stroke-dashoffset: -98px;
}
.ham1.active .bottom {
  stroke-dashoffset: -138px;
}
@keyframes progress {
  0% { width: 0; }
  100% { width: 1
  00%; }
}

.animate-progress {
  animation: progress 2s linear infinite;
}
@keyframes wave {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-wave {
  animation: wave 1s ease-in-out infinite;
}

.animation-delay-200 {
  animation-delay: 0.2s;
}

.animation-delay-400 {
  animation-delay: 0.4s;
}

.clipped-lb{
  background: #d9e1ed;
  width: 300px;
  height: 400px;
  clip-path: path("M 0,300 A 30,30 0,0,0 30,330 L 40,330 A 30,30 0,0,1  70,360 L 70,370 A 30,30 0,0,0 100,400 L 270,400 A 30,30 0,0,0 300,370 L 300,30 A 30,30 0,0,0 270,0 L 30,0 A 30,30 0,0,0 0,30 L 0,300 Z");
  overflow: hidden;
}

/* .cart{
  color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100px;
}
 */

/* Scrollbar styles */
::-webkit-scrollbar {   
  width: 8px; /* Thin scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Invisible track */
}

::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.4); /* Soft gray color */
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 100, 0.6); /* Darker on hover */
}
